.title {
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

@media (min-width: 1000px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }
}
