.menu__list {
  @include list-reset;
  margin-bottom: 25px;
}

.menu__item {
  font-size: 13px;
  line-height: 26px;
  color: #ffffff;
}

@media (min-width: 1000px) {
  .menu__list {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 14px;
  }

  .menu__item {
    font-weight: 300;
    font-size: 14px;
    color: #646463;
    transition: 0.3s all;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      color: #000000;
    }
  }
}
