.courses {
  padding: 40px 0;
}

.courses__title {
  margin-bottom: 40px;
}

.courses__list {
  @include list-reset;
}

.courses__item {
  margin-bottom: 56px;
  padding: 0 20px;
  position: relative;
  &::before {
    @include pseudo;
    height: 56px;
    width: calc(100% - 96px);
    border-radius: 0 0px 0px 15px;
    box-shadow: 0px 10px 25px 0px rgba(18, 50, 122, 0.15);
    background-color: #ffffff;
    left: 20px;
    position: absolute;
    bottom: -56px;
  }

  &::after {
    @include pseudo;
    width: 13px;
    height: 15px;
    position: absolute;
    right: 32px;
    bottom: -25px;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/shape.png");
  }

  &:hover {
    .courses__inner {
      &::after {
        border-left-color: #66b2e3;
        border-top-color: #66b2e3;
      }
    }

    .courses__name {
      color: #66b2e3;
    }
  }
}

.courses__inner {
  padding: 0 0px 15px 20px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 10px 25px 0px rgba(18, 50, 122, 0.15);
  background-color: #ffffff;
  display: block;
  position: relative;
  z-index: 10;
  &::before {
    @include pseudo;
    height: 60px;
    width: calc(100% - 56px);
    border-radius: 0 0px 0px 15px;
    background-color: #ffffff;
    left: 0px;
    position: absolute;
    bottom: -56px;
  }

  &::after {
    @include pseudo;
    width: 56px;
    height: 56px;
    border: 28px solid #ffaa00;
    position: absolute;
    bottom: -56px;
    right: 0;
    box-sizing: border-box;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 15px 0 0 0;
    transition: all 0.3s;
    z-index: 10;
  }
}

.courses__img {
  margin-bottom: 0px;
  display: block;

  img {
    border-radius: 0 15px 0 0;
  }
}

.courses__name {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #173e90;
  padding-right: 20px;
  position: relative;
  z-index: 10;
  bottom: -20px;
  transition: all 0.3s;

  &::before {
    @include pseudo;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    position: absolute;
    right: 40px;
    bottom: 0;
  }
}

@media (min-width: 1000px) {
  .courses {
    padding-top: 35px;
    padding-right: 17px;
    padding-bottom: 45px;
  }

  .courses__title {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .courses {
    @include page-wrapper;
  }
}
